*{
  margin: 50;
}
body{
    padding: 50px;
  background-color: lightblue;
}
h1{
  color:blue;
  text-align: center
}
h2{
  text-align: center;
}
h3{
  color:darkblue;
  text-align: center
}
img{
  width:100%
}
h4{
  color:darkblue;
  text-align: center
}
a {
display: block;
width: 200px;
margin: auto;
}

p{
  text-align:center;
}
