*{
  margin: 25;
}

body{
  background-color: lightblue;
}
h1{
  color:blue;
  text-align: center
}
h2{
  text-align: center;
}
h3{
  color:darkblue;
  text-align: center
}
h4{
  color:darkblue;
  text-align: center
}
a {
display: block;
width: 200px;
margin: auto;
}
